---
import Social from './Social.astro';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
    <p><a href="https://www.linkedin.com/in/jonathan-fang/">LinkedIn</a></p>
    <p><a href="https://www.instagram.com/itsjonathanfang/">Instagram</a></p>
</footer>